
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Review Africa</title>

    <link rel="stylesheet" href="{{asset('public/css/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('public/css/css/animate.min.css')}}">

    <link rel="stylesheet" href="{{asset('public/css/css/meanmenu.css')}}">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="{{asset('public/css/css/magnific-popup.min.css')}}">

    <link rel="stylesheet" href="{{asset('public/css/css/nice-select.min.css')}}">

    <link rel="stylesheet" href="{{asset('public/css/css/style.css')}}">

    <link rel="stylesheet" href="{{asset('public/css/css/responsive.css')}}">
</head>
<body>




    <div class="totalbanner">
        <div class="top-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <ul class="top-header-social">
                            <li>
                                <a href="https://web.facebook.com/ReviewDiamondAfrica" class="facebook" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/diamondreviewafrica/" class="pinterest" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/the-diamond-review-africa/" class="pinterest" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/review_diamond" class="twitter" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="/" class="linkedin" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="top-header-others">
                            <li>
                                <div class="languages-list">

                                </div>
                            </li>

                             <li data-toggle="modal" data-target="#exampleModalCenter">
                                <i class='bx bx-user'></i>
                                <a href="#">Login</a>
                            </li>
                            <li data-toggle="modal" data-target="#exampleModal">
                                <i class='bx bx-user'></i>
                                <a href="#">Register</a>
                            </li>

                           <!-- <li>
                             <i class='bx bxs-like bx-tada'></i>
                                <a href="#">Subscribe</a>
                            </li>-->
                            <li data-toggle="modal" data-target="#exampleModalLong">
                             <i class='bx bxs-like bx-tada'></i>
                            <a href="#">Newsletter</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-header-area ">
            <div class="container teste">

            </div>
        </div>

        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="/">
                                <img src="{{asset('public/img/logo/Diamond/2.png')}}" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light alinharCentro">
                        <a class="navbar-brand logoPrincipal" href="/">
                            <img src="{{ asset('public/img/logo/Diamond/2.png') }}" style="margin-left: 20rem" alt="image">
                        </a>

                    </nav>
                </div>
            </div>
            <div class="main-navbar  main-navbar-back">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light ">

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent" style="border:1 solid">
                             <ul class="navbar-nav col-lg-12">
                                    <li class="nav-item">
                                        <a href="/" class="nav-link">
                                            Home
                                        </a>

                                    </li>
                                    @if ($categorias != null)
                                        @foreach ($categorias as $categoria)
                                            <li class="nav-item">
                                                <a class="nav-link"
                                                    href="{{ route('menu', $categoria->cat_id) }}">{{ $categoria->titulo }}</a>
                                            </li>
                                        @endforeach
                                    @endif
                                </ul>


                        </div>
                    </nav>
                </div>
            </div>

        </div>
        </div>

        <nav class="navbar navbar-expand-sm navbar-dark bg-info"> <a class="navbar-brand" href="#">Home</a>
                        <!--Toggle Collapse Button-->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <!--Division for navbar-->
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <!--UL for links-->
                            <ul class="navbar-nav mr-auto">
                                <!-- Catagory 1-->
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle catogary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <strong> Fashion </strong> </a>
                                    <!--Div for catogary 1-->
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <!--Row 1-->
                                                <div class="col-md-3">
                                                    <!--Column 1-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">TOPS</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Shirts</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Tunics</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Tops</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Vests</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 2-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">DRESSES</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Casual</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Evening</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Designer</a> </li>
                                                        <li class="nav-item"> <a class="nav-link active" href="#">SHOES</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Flat shoes</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Sandals</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Boots</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 3-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">JEWELRY</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Bracelets</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Earings</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Nosepin</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Necklace</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Rings</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Lockets</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 4-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">TRENDING</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Crafted Kurti</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Shorts</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Cosmetics</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Custumized Shoes</a> </li>
                                                        <li class="nav-item"> <a class="nav-link active" href="#">JEANS</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Slim Fit</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Low Waist</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> <!-- Catagory 2-->
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle catogary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <strong> Electronics </strong> </a>
                                    <!--Div for catogary 2-->
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <!--Row 1-->
                                                <div class="col-md-3">
                                                    <!--Column 1-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">MOBILE</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Sony</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Samsung</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Apple</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Xiaomi</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Lenevo</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 2-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">KITCHEN</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Electric Heater</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Toaster</a> </li>
                                                        <li class="nav-item"> <a class="nav-link active" href="#">DAILY USE</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Water Heater</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Induction Cooker</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 3-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">COMPUTERS & ACCESSORIES</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Laptops</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Hard Drives</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Pen Drives</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Mouse & Keyboards</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> <!-- Catagory 3-->
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle catogary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <strong> Furniture </strong> </a>
                                    <!--Div for catogary 3-->
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <!--Row 1-->
                                                <div class="col-md-3">
                                                    <!--Column 1-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 2-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 3-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 3</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 4-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 4</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li> <!-- Catagory 4-->
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle catogary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <strong>Sports & Book</strong> </a>
                                    <!--Div for catogary 4-->
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div class="container">
                                            <div class="row">
                                                <!--Row 1-->
                                                <div class="col-md-3">
                                                    <!--Column 1-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 2-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 3-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 3</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                                <div class="col-md-3">
                                                    <!--Column 4-->
                                                    <ul class="nav flex-column">
                                                        <li class="nav-item"> <a class="nav-link active" href="#">Object 4</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 1</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 2</a> </li>
                                                        <li class="nav-item"> <a class="nav-link i" href="#">Item 3</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <!--Search-->
                            <form class="form-inline">
                                <input class="form-control srch" type="search" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" aria-label="Search"> </form>
                        </div>
                    </nav>








                    <div class="most-popular-news">
                        @if (count($topStory) > 0)
                            <div class="section-title">
                                <h2>Last News</h2>
                            </div>
                        @endif
                    <div class="row">
                        @if ($topStory != null)
                            @foreach ($topStory as $topNews)
                                <div class="col-lg-4">
                                    <div class="single-main-news-inner">
                                        <a href="#">
                                            <img src="{{ asset('public/images') }}/{{ $topNews->image_noticia }}" alt="image">
                                        </a>
                                        <div class="news-content">
                                            <div class="tag">{{ $topNews->artigo }}</div>
                                            <h3>
                                                <a href="/newspost/{{ $topNews->noticia_id }}">{{ $topNews->titulo }}</a>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            @endforeach
                        @endif
                    </div>
                      <br>
                </div>

            <div class="politics-news">

                            <div class="section-title">
                                <h2>Mining & Exploration</h2>
                            </div>

                            <div class="row">
                                    @if ($noticiaManing != null)
                                        @foreach ($noticiaManing as $notSub)
                                                <div class="col-lg-3 col-md-6">
                                                    <div class="single-politics-news">
                                                        <div class="politics-news-image">
                                                            <a href="#">
                                                                <img src="{{ asset('public/images') }}/{{ $notSub->image_noticia }}" alt="image">
                                                            </a>
                                                        </div>
                                                        <div class="politics-news-content">
                                                            <span>{{ $notSub->artigo }}</span>
                                                        <h3>
                                                        <a href="/newspost/{{ $notSub->noticia_id }}">{{ $notSub->titulo }}</a>
                                                <div class='row'>
                                                <div class="col-lg-3 col-md-6">
                                                <div class="" >
                                                    <div class="card-body">
                                                        <p class="rubrica-texto mining-texto" style="width:17rem;margin-top:0;margin-left:-1rem">
                                                            {{$notSub->news_short_description}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                                        </h3>
                                        </div>
                                    </div>
                                </div>

                                        @endforeach
                                     @endif
                            </div>
                            <div class='row' style="margin-top:-2rem">
                               <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1">
                                        <div class="rubrica">MINING AND EXPLORATION</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                            </div>
                                    <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1">
                                        <div class="rubrica">MINING AND EXPLORATION</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                            </div>
                                   <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1">
                                        <div class="rubrica">MINING AND EXPLORATION</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                            </div>
                                   <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1">
                                        <div class="rubrica">MINING AND EXPLORATION</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                                    <br>
                            </div>
                            </div>

            </div>


            <section class="main-news-area " >

                <div class="sliderboxe ">
                    <div class="boxe">
                @include('layouts.slider')

                        <div id="recipeCarousel " class="carousel  slide w-90" data-ride="carousel">
                            <div class="carousel-inner w-100 exemplo" role="listbox">

                            </div>
                        </div>
                    </div>

                </div>
            </section>


                <!-- <div class="row"style="margin-bottom:3rem"></div>-->

                 <div class="row fundo ptb-50">

                </div>



            <div class="politics-news">

                        <div class="section-title">
                            <h2>News</h2>
                        </div>

                        <div class="row">
                                @if ($noticiaPolitica != null)
                                    @foreach ($noticiaPolitica as $notSub)
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-politics-news">
                                            <div class="politics-news-image">
                                                <a href="#">
                                                        <img src="{{ asset('public/images') }}/{{ $notSub->image_noticia }}" alt="image">
                                                </a>
                                            </div>
                                            <div class="politics-news-content">
                                                <span>{{ $notSub->artigo }}</span>
                                                <h3>
                                                    <a href="/newspost/{{ $notSub->noticia_id }}">{{ $notSub->titulo }}</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    @endforeach
                                 @endif
                        </div>
                            <div class='row'>
                             <div class="col-lg-3 col-md-6">
                                 <div class="card" style="width: 18rem;">
                                    <a href="/newspost/{{ $notSub->noticia_id }}">
                                    <div class="card-body rubrica1">
                                    <div class="rubrica">Market</div>
                                    <p class="rubrica-title">Auction Pause Pushes Gemfields to Steep Los.</p>
                                    <p class="rubrica-texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                                    <div class="col-lg-3 col-md-6">
                                 <div class="card" style="width: 18rem;">
                                    <a href="/newspost/{{ $notSub->noticia_id }}">
                                    <div class="card-body rubrica1">
                                    <div class="rubrica">Market</div>
                                    <p class="rubrica-title">Auction Pause Pushes Gemfields to Steep Los.</p>
                                    <p class="rubrica-texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                                     <div class="col-lg-3 col-md-6">
                                 <div class="card" style="width: 18rem;">
                                    <a href="/newspost/{{ $notSub->noticia_id }}">
                                    <div class="card-body rubrica1 ">
                                    <div class="rubrica">Market</div>
                                    <p class="rubrica-title">Auction Pause Pushes Gemfields to Steep Los.</p>
                                    <p class="rubrica-texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                                    <div class="col-lg-3 col-md-6">
                                 <div class="card" style="width: 18rem;">
                                    <a href="/newspost/{{ $notSub->noticia_id }}">
                                    <div class="card-body rubrica1">
                                    <div class="rubrica">Market</div>
                                    <p class="rubrica-title">Auction Pause Pushes Gemfields to Steep Los.</p>
                                    <p class="rubrica-texto">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    </a>
                                </div>
                            </div><br>
                        </div>
                            </div>


            </div>

            <div class="politics-news">

                        <div class="section-title">
                            <h2>Rough Markets</h2>
                        </div>

                        <div class="row">
                                @if ($noticiaNews != null)
                                    @foreach ($noticiaNews as $notSub)
                                    <div class="col-lg-3 col-md-6">
                                        <div class="single-politics-news">
                                            <div class="politics-news-image">
                                                <a href="#">
                                                    <img src="{{ asset('public/images') }}/{{ $notSub->image_noticia }}" alt="image">
                                                </a>
                                            </div>
                                            <div class="politics-news-content">
                                                <span>{{ $notSub->artigo }}</span>
                                                <h3>
                                                    <a href="/newspost/{{ $notSub->noticia_id }}">{{ $notSub->titulo }}</a>
                                                    <div class='row'>
                                                <div class="col-lg-3 col-md-6">
                                                <div class="" >
                                                    <div class="card-body">
                                                        <p class="rubrica-texto mining-texto" style="width:17rem;margin-top:0;margin-left:-1rem">
                                                            {{$notSub->news_short_description}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    @endforeach
                                 @endif

                        </div>
                            <div class='row'>
                                 <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1 ">
                                        <div class="rubrica">Rough Markets</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                            </div>
                                    <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1">
                                        <div class="rubrica ">Rough Markets</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                            </div>
                                  <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1">
                                        <div class="rubrica">Rough Markets</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                            </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="card" style="width: 18rem;">
                                         <a href="/newspost/{{ $notSub->noticia_id }}">
                                   <div class="card-body rubrica1">
                                        <div class="rubrica">Rough Markets</div>
                                    <p class="rubrica-title">Petra sells 299 carat diamond for $12.18 million.</p>
                                        <p class="rubrica-texto">Some quick example text to build on the card.</p>
                                   </a>
                                      </div>
                                    </div>
                            </div>


            </div>

            <style type="text/css">

            .carousel-inner img{
                min-width: 250px;
            }

            @media(max-width:767px) {

                    .carousel-inner>.item>a>img, .carousel-inner>.item>img{
                        width: 100%;
                        height: 240px;
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;

            }
            .texto p {
                margin-top: -1.5rem;
                font-family: roboto,sans-serif;
                margin-left: 8px;
              }
              .baixo{
                margin-top:-10rem;

              }

            }
            </style>



    <section class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <a href="#">
                            <img src="{{asset('public/img/logo/Diamond/1.png')}}" alt="image">
                        </a>
                        <p>Diamond Review Africa is an international news outlet designed to provide the latest, most complete and most insightful
                            information about the diamond industry in the world in general and in Africa in particular.</p>
                        <ul class="social">
                            <li>
                                <a href="#" class="facebook" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter" target="_blank">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="linkedin" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="linkedin" target="_blank">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Services</h2>
                        <ul class="useful-links-list">
                            <li>
                                <a href="#">Diamond Live</a>
                            </li>
                            <li>
                                <a href="#">Share News Tips Securely
                                </a>
                            </li>
                            <li>
                                <a href="#">Individual Subscriptions
                                </a>
                            </li>
                            <li>
                                <a href="#">Contracts & Tenders
                                </a>
                            </li>
                              <li>
                                <a href="#">Re-call Communications and Events, Ltd
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h2>News</h2>
                        <ul class="useful-links-list">

                            <li>
                                <a href="{{route('about')}}">About Us</a>
                            </li>
                            <li>
                                <a href="{{route('contact')}}">Contact us</a>
                            </li>
                            <li>
                                <a href="{{route('privacy')}}">Privacy & policy</a>
                            </li>
                            <li>
                                <a href="{{route('termo')}}">Terms & Services</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h2>Subscribe</h2>
                        <div class="widget-subscribe-content">
                            <form class="newsletter-form">
                                <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL"
                                    required>
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="copyright-area">
        <div class="container">
            <div class="copyright-area-content">
                <p>
                    Copyright © 2021 Pubs Mídia Mais. All Rights Reserved by
                    <a href="#" target="_blank">Diamond</a>
                </p>
            </div>
        </div>
    </div>


<div class="go-top">
    <i class='bx bx-up-arrow-alt'></i>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ asset('public/css/js/jquery.meanmenu.js') }}"></script>

<script src="{{ asset('public/css/js/jquery.magnific-popup.min.js') }}"></script>

<script src="{{ asset('public/css/js/nice-select.min.js') }}"></script>

<script src="{{ asset('public/css/js/jquery.ajaxchimp.min.js') }}"></script>

<script src="{{ asset('public/css/js/form-validator.min.js') }}"></script>

<script src="{{ asset('public/css/js/contact-form-script.js') }}"></script>

<script src="{{ asset('public/css/js/wow.min.js') }}"></script>

<script src="{{ asset('public/css/js/main.js') }}"></script>

</body>
</html>
